/* Generics */
main {
    background-color: black;
    margin-top: 20px;
}

body {
    background-color: rgb(0, 0, 0) !important
}

h1 {
    margin: 0;
    padding: 20px 0;
}

/* Movie Card */
.card img{
height: 600px;
width: 100%;
object-fit: cover;
aspect-ratio: 21/9;
}

/* Movie Details */
.review-item:last-child {
    border-bottom: none !important;
}

.user-avatar {
    height: 30px;
    width: 30px;
    background-color: rgb(44, 104, 64);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

/* Laoder */ 
.overlay-loading {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.521);
    backdrop-filter: blur(2px);
}
